# Environment files
.env
.env.local
.env.*.local

# Node
node_modules
npm-debug.log
yarn-error.log

# Git
.git
.gitignore
.github

# IDE
.DS_Store
.idea
.vscode
*.swp
*.swo

# Logs
logs
*.log

# Documentation
/docs
*.md

# Development
mongo-app

# DO NOT ADD TESTS TO THIS, THEY RUN IN DOCKER NOW